body{
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway, sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  color: #000;
}

.container{
  width: 90%;
  margin: auto;
}
html{
  /* font-size: 62.5%; */
}